#path4160{fill: #800000 !important}
#path3206{fill: #bf0000 !important}
#path6102{fill: #e22c2c !important}
#path2177{fill: #ee313e !important}
#path2440{fill: #d33641 !important}
#path4179{fill: #f6636d !important}
#path2229{fill: #e64c57 !important}
#path6105{fill: #fa8e96 !important}
#path2215{fill: #fa8e96 !important}
#path2230{fill: #fa8e96 !important}
#path3201{fill: #fa8e96 !important}
#path5131{fill: #fa8e96 !important}
#path2176{fill: #fa8e96 !important}
#path4163{fill: #fa8e96 !important}
#path4167{fill: #fa8e96 !important}
#path2231{fill: #fa8e96 !important}
#path4174{fill: #fa8e96 !important}
#path3189{fill: #f67079 !important}
#path5143{fill: #fa8e96 !important}
#path8041{fill: #fa8189 !important}
#path5364{fill: #fa8e96 !important}
#path4172{fill: #eb7078 !important}
#path2235{fill: #e7545e !important}
#path6099{fill: #fa8e96 !important}
#path4177{fill: #fa8e96 !important}
#path5150{fill: #fa8e96 !important}
#path3203{fill: #fa8e96 !important}
#path6116{fill: #fa8e96 !important}
#path2245{fill: #fa8e96 !important}
#path3216{fill: #fa8e96 !important}
#bdmap{
    display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 75px;
  
}
path:hover, circle:hover {
    stroke: #006747 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #006747 !important;
    cursor: pointer;
  }
  .st15{color: black;}
  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }
  .today{
      position: absolute;
      padding-left: 5px;
      padding-top: 10px;
      width: 130px;
      height: auto;
      right: 0px;
      box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
      background-color: #F8F884;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.2;
  }
  .bangladesh{margin-left: 10px;}
  body{background-color: #E2DAD9;}
  .bld{font-weight: bold;text-align: center;}
  .stay{margin-left: 10px;}
  .sources{position: absolute;bottom: -70px; padding-bottom: 10px;}
  .develop{position: absolute;bottom: -90px; padding-bottom: 10px;font-size: small;}
  .map{position: absolute;bottom: -110px; padding-bottom: 10px;font-size: small;}
  @media all and (min-width: 768px) {
    .stay {
      text-align: center;
    }
    .bangladesh{
      text-align: center;
    }
}